<launch>
  <arg name="car_name"            default="car"/>

  <!-- Initialize the robot's location on the map (generally for sim)-->
  <arg name="init_map_to_odom_tf" default="true"/>

  <!-- Set to force robot to abide by map_server walls -->
  <arg name="force_in_bounds" default="false"/>
  
  <!-- Use mocap published car pose instead of using odom -->
  <arg name="use_mocap" default="false"/>

  <node pkg="mushr_base" type="racecar_state.py" name="racecar_state" output="screen">
    <param name="update_rate"           value="20.0"/>
    <param name="speed_offset"          value="0.00"/>
    <param name="speed_noise"           value="0.0001"/>
    <param name="steering_angle_offset" value="0.00"/>
    <param name="steering_angle_noise"  value="0.000001"/>
    <param name="forward_offset"        value="0.0"/>
    <param name="forward_fix_noise"     value="0.0000001"/>
    <param name="forward_scale_noise"   value="0.001"/>
    <param name="side_offset"           value="0.0"/>
    <param name="side_fix_noise"        value="0.000001"/>
    <param name="side_scale_noise"      value="0.001"/>
    <param name="theta_offset"          value="0.0"/>
    <param name="theta_fix_noise"       value="0.000001"/>
    <param name="force_in_bounds"       value="$(arg force_in_bounds)"/>
    <param name="init_map_to_odom_tf"   value="$(arg init_map_to_odom_tf)"/>
    <param name="use_mocap"             value="$(arg use_mocap)"/>
    <param name="map_topic"             value="/map_actual"/>
    <param name="car_name"              value="$(arg car_name)"/>
  </node>
</launch>
